<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>736907613@qq.com</string>
	<key>appleWatchEnabled</key>
	<true/>
	<key>artistId</key>
	<integer>924337986</integer>
	<key>artistName</key>
	<string>Xi Da (Shanghai) Network Technology Co., Ltd.</string>
	<key>bundleDisplayName</key>
	<string>喜马拉雅FM</string>
	<key>bundleShortVersionString</key>
	<string>4.3.20</string>
	<key>bundleVersion</key>
	<string>808</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143465-19,32</string>
			<key>AppleID</key>
			<string>736907613@qq.com</string>
			<key>DSPersonID</key>
			<integer>1212487684</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>PurchaserID</key>
			<integer>1212487684</integer>
		</dict>
		<key>purchaseDate</key>
		<string>2015-08-25T15:50:33Z</string>
	</dict>
	<key>copyright</key>
	<string>© 上海证大喜马拉雅网络科技有限公司</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>图书</string>
	<key>genreId</key>
	<integer>6018</integer>
	<key>itemId</key>
	<integer>876336838</integer>
	<key>itemName</key>
	<string>喜马拉雅FM（播客音乐）儿歌历史阅读器图书馆软件</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Xi Da (Shanghai) Network Technology Co., Ltd.</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2015-08-25T15:50:33Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>偶尔/轻微的现实暴力 , Advisory.NO.UNRESTRICTED_WEB_ACCESS , Advisory.NO.GAMBLING_CONTESTS , 偶尔/轻微的成人/性暗示题材 and 偶尔/轻微的惊悚/恐怖题材</string>
		<key>label</key>
		<string>12+</string>
		<key>rank</key>
		<integer>300</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2015-03-22T05:44:17Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a387.phobos.apple.com/us/r30/Purple3/v4/3f/81/68/3f8168c7-a5b4-8787-1889-379ee423c698/icon114x114.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>4</integer>
		<integer>9</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.gemd.iting</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>813197257</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>583523543</integer>
		<integer>622662762</integer>
		<integer>810933366</integer>
		<integer>811398053</integer>
		<integer>811716232</integer>
		<integer>811882305</integer>
		<integer>812019208</integer>
		<integer>812206484</integer>
		<integer>813189312</integer>
		<integer>813197257</integer>
	</array>
	<key>storeCohort</key>
	<string>3|date=1440516600000&amp;sf=143465</string>
	<key>vendorId</key>
	<integer>108825801</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
